.footer-contents {
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: space-between;
    color: white;
}

.footer-sub-title {
    display: block;
    font-size: medium;
    font-weight: 800;
    border-bottom: 3px solid rgb(203, 255, 13);
}

.footer-sub-content {
    margin-bottom: 1.5rem;
}

.title-sub-data {
    margin-left: 1rem;
}

.App-footer {
    margin-top: 16px;
    position: sticky;
    top: 100vh;
    background-color: rgb(41, 51, 4);
    width: 100%;
    padding: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.last-footer{
    padding: 16px;
    font-weight: bold;
    color: white;
    text-align: center;

    /* position: sticky;
    top: 100vh; */
    /* position: sticky;
    left: 0;
    bottom: 0;
    width: 100%; */
    
    /* background-color: rgb(41, 51, 4); */
  }

  .body-content {
    padding-bottom: 50px; /* set the padding-bottom of your body content to be equal to the height of your footer */
  }